<div class="page-wrapper">
    <% @posts.each do |post| %>
        <div class="post-item-wrapper">
            <h1><%= link_to post.title, post_path(post.id) %></h1>
            <p><%= post.created_at.strftime("%B, %d, %Y")%></p>
            <p><%= truncate(post.content, length: 450) { link_to "(continue)", post_path(post.id) } %></p>
        </div>
    <% end %>
</div>