/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

 $black: #212428;
 $comp_green: #00FF01;
 $hacker_yellow: #f5ec42;


// BODY START
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        color: $black;
        text-decoration: none;

        &:hover {
            background-color: $hacker_yellow;
        }
    }
    h1:hover {
        width: fit-content;
        background-color: $hacker_yellow;
    }
    .alert {
        width: fit-content;
        background-color: $hacker_yellow;  
    }
}
// BODY END

// NAVBAR START
.navbar-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $black;
    background-color: $comp_green;
    .search-group {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-list {
        width: 50%;
        height: 50px;
        margin: 0px;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        li {
            margin: 0px 5px;
        }
        a:hover {
            background-color: $comp_green;
        }
    }
}
// NAVBAR END

.page-wrapper {
    width: 55%;
    height: auto;
}

.user-wrapper {
    width: 80%;
    margin: auto;

    th {
        width: 50%;
        text-align: left;
    }

    .admin-button {
        background-color: transparent;
        border: none;
    }
}

// FORM START
.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    input, textarea {
        margin: 10px 0px;
    }

    textarea {
        overflow: auto;
        height: 250px;
    }
}
// FORM END

// INDEX VIEW START
.post-item-wrapper {
    width: 100%;
    min-height: 250px;
    border-bottom: solid $black 2px;
}
// INDEX VIEW END

// FOOTER START
.footer-wrapper {
    bottom:0px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $black;
    .footer-list {
        width: 100%;
        height: 50px;
        margin: 0px;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        li {
            margin: 0px 5px;
        }
    }
}
// FOOTER END
.pagination {
    background: white;
    cursor: default;
    height: 22px;
    margin-bottom: 55px;
    a,
    span,
    em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px;
    }
    .disabled {
      display: none;
    }
    .current {
      font-style: normal;
      font-weight: bold;
      background: lightgray;
      color: white;
      border: 1px solid lightgray;
    }
    a {
      text-decoration: none;
      color: lightgray;
      border: 1px solid lightgray;
      &:hover,
      &:focus {
        color: black;
        border-color: black;
      }
    }
    .page_info {
      background: gray;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center;
      b {
        color: black;
        background: lightgray + 60;
        padding: 0.1em 0.25em;
      }
    }
  }